/** General Code **/

html {
    font-size:16px;
    font-family:futura;
    --body-font:futura
    }

h2{
    font-size: 2.5rem;
}

h3 {
    font-weight: lighter;
}

h4 {
    margin: 0 auto;
    font-size: 1.3rem;
}

.sectheader{
    text-align: center;
}

.menu {
    top: 0;
}

/* Jumobtron/Quote */

.jumbotron{
    background-image: url("../Resources/Jumbotron3.jpg");
    justify-content: center;
    background-position-y: 7%;
}

.accolades{
    width: 70%;
    margin: 2.2rem auto 1.5rem auto;
}

.accolades p{
    font-size: 1.3rem;
}

/* Meet the Team */


.headshotsect{
    padding-top: 7rem;
    width: 78%;
    margin: auto;
}

.overview{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.overview h3{
    padding: 3rem 0;
    font-size: 1.7rem;
    font-weight: 100;
    width: 95%;
}

.headshots{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem 0 6rem 0;
    row-gap: 3rem;
    width: 75%;
    margin: auto;
    background: no-repeat url("../Resources/Background%20Logos/Logo-hiring.png");
    background-position: 50% 25%;
    background-size: 45%;
   
}

.headshot h3{
    margin: .25rem 0
}

.title {
    font-size: 1.2rem;
}
.headshot {
    width: 26%;
    text-align: center;   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center
}

.headshotwrapper {
    border: 2px solid #f05e4f;
    border-radius: 150px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1rem;
    filter:drop-shadow(0px 5px 5px #2a2a2a1a);
    width: 90%;
}

.headshot img{
    transition: 0.2s all ease-in-out;
    
}

.headshot:hover img{
    filter:drop-shadow(0px 5px 5px #1515155a);
}

.break {
    width: 2%;
}

.videoreel{
    width: 90%;
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.videoreeltitle{
    width: 100%;
    text-align: center;
}

.videofullcontainer{
    width: 60%;
    background-color: #f5d9d5;
    display: flex;
    padding: 1.5rem 0;
    border-radius: 50px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: space-evenly;
    filter:drop-shadow(0px 5px 5px #2a2a2a1a);
}

.videoreel-text{
    width: 52%;
}

.videoreel-text p{
    padding-top: 2rem;
}

.videos{
    width: 29%;
}

video{
    width: 100%;
}

.circlepics{
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.circlepic {
    border-radius: 200px;
    position: relative;
    border: 3px solid #f7a39b;
    filter:drop-shadow(0px 5px 5px #2a2a2a1a)
}

.caregiver.c1 {
    width: 41%;
    left: 2rem;
}

.caregiver.c2 {
    top: 7rem;
    width: 48%;
}


.caregiver.c3 {
    width: 38%;
    top: -4rem;
    left: -4rem;
}

.employee.c1{
    left: 3rem;
    width: 48%;
}

.employee.c2{
    top: 8rem;
    width: 38%;
}

.employee.c3 {
    width: 41%;
    top: -5rem;
    left: -3rem;
}

.hiring-process {
    width: 74%;
    margin: 3rem auto;
    border: 2px solid #f05e4f;
    filter:drop-shadow(0px 5px 5px #2a2a2a1a);
    border-radius: 100px;
    box-sizing: border-box;
    padding: 2rem 0;
    background-color: #fefefe;
   
}
 
.hiring-contents{
    padding: 2.5rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: no-repeat url("../Resources/Background Logos/Logo-hiring.png");
    background-position: 50% 25%;
    background-size: 22%;
}

.hiring-contents h3{
    font-size: 1.2rem;
}

.hiring {
    width: 37%;  
}

.hiring-list{
    padding: 0 2rem 0 4rem;
}

.rose-careU{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem 0 2rem;
}

.rose-careU img{
    width: 50%;
}

.hiringcontents svg{
    width: 7%;
    fill: #f05e4f;
    padding: 0 3.5rem;
}

.caregiversofthemonth {
    text-align: center;
    padding: 2rem 0 8rem 0;
}

.caregiversofthemonth h2{
    font-size: 2.5rem;
}

.currentmonth{
    width: 70%;
    padding: 4rem 0 4rem 0;
    filter:drop-shadow(0px 5px 5px #2a2a2a1a)
}

.carousel{
    width: 60%;
    margin: auto;
}

.carousel-cell{
    padding-right: 1rem;
}

.flickity-page-dots{
    display: none;
}

.flickity-prev-next-button.next{
    right: -70px !important;
}

.flickity-prev-next-button.previous {
    left: -70px !important;
}

.tinyrect{
    width: 3%;
    height: 0.5%;
    background-color: #f7a39bcd;
    margin: 1.5rem auto;
}

@media only screen and (max-width: 480px) {

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.4rem;
    }

    .jumbotron {
        background-position: 30% 162%;
    }

    .jumbotron h2{
        padding: 2rem 0 0 0;
        font-size: 2.4rem;
    }

    .subhead{
        width: 85%;
        padding: 2.5rem 1rem;
    }

    .accolades{
        margin: 8rem auto 1.5rem auto;
    }

    .headshotsect{
        width: 100%;
        padding-top: 6rem;
    }

    .headshots{
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 3rem;
        background: none;
        padding: 3rem 0 4rem 0;
    }

    .break{
        display: none;
    }

    .headshot{
        width: 75%;
    }

    .circlepics{
        display: none;
    }

    .videofullcontainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        border-radius: 30px;
        filter: none;
    }

    .videoreel{
        text-align: center;
        padding: 0;
        width: 100%;
    }

    .videoreel h2{
        padding: 0 1rem 2rem 1rem;
    }

    .videos{
        width: 62%;
        
    }

    .videoreel-text{
        width: 90%;
    }

    .hiring-process{
        width: 90%;
        border-radius: 20px;
        filter: none;
        margin: 4.5rem auto;
        padding: 1rem 0;
    }

    .hiring-contents {
        flex-wrap: wrap;
        background: none;
        padding: 0 0 0 0 
    }

    .hiring{
        width: 100%;
    }

    .rose-CareU{
        padding: 0;
    }

    .hiring h3{
        padding: 0 1rem
    }

    .rose-CareU {
        padding: 0;
    }

    .rose-CareU img {
        width: 60%;
        padding: 1rem 0;
    }

    .currentmonth{
        width: 90%;
        padding: 2rem 0;
    }

    .carousel-cell img{
        width: 85%;
        left: -8px;
    }

    .carousel-cell{
        padding: 0
    }

    .caregiversofthemonth{
        padding: 2rem 0 4rem 0;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

   h1{
    padding: 0;
   }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1rem;
    }

    h4{
        font-size: 1.1rem;
    }

    .title{
        font-size: 1rem;
    }

    p{
        font-size: 1rem;
    }

    .jumbotron{
        background-position-y: -25%;
        


    }

   

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {

    .jumbotron{
        background-position-y: 3rem;
    }
    
    }

    .circlepics{
        display: none;
    }

    .accolades p{
        font-size: 1.1rem;
    }

    .headshotsect{
        padding-top: 4rem;
        width: 100%;
    }

    .headshots{
        padding: 3rem 0 3rem 0;
        width: 90%;
    }

    .videofullcontainer{
        width: 100%;
    }
    
    .videos{
        width: 24%;
    }

    .videoreel{
        padding: 2rem 0;
    }

    .videoreel-text p{
        padding-top: 2.3rem;
    }

    .hiring-process{
        width: 92%;
    }

    .hiring-contents{
        padding: .5rem 0 0 0 ;
    }

    .hiring-contents h3{
        font-size: 1rem;
        padding: 0 2rem;
    }

    .rose-CareU{
        padding: 0;
    }

    .rose-CareU img{
        width: 65%;
    }

    .currentmonth{
        width: 87%;
        padding: 0 0 4rem 0;
    }

    .caregiversofthemonth h3{
        font-size: 1.3rem;
    }


    
    .flickity-slider {
        transform: none;
    }

    .carousel-cell img{
        width: 85%;
        left: -8px;
    }

    .carousel-cell {
        padding-right: 1rem;
    }
}

