.jumbotron{
    background-image: url("../Resources/Images/JumbotronEmployment.webp");
    flex-direction: column;
    justify-content: center;
}

h1{
    padding: 0 0;
    text-align: center;
}

h2{
    font-size: 1.8rem;
}

p{
    display: flex;
    align-items: flex-start;
    padding: .5rem 0;
    font-size: 1.3rem;
}

.accolades h2{
    font-size: 1.3rem;
    text-align: center;
    padding: .5rem 0;
}

.contactus{
    padding: .9rem 3.8rem;
    color: white;
}

.jumbotron a{
    margin-top: 0;
}

.sidesect h2{
    margin:auto;
    padding: .5rem 0 2.5rem 0;
    text-align: center;
}

.subhead h2{
    font-size: 1.5rem;
}

.sidesect{
    display: flex;
    flex-direction: column;
    background-color: #fbfafa;
    border: 2px solid #EC7F76;
    padding: 2rem;
    background-image: url("../Resources/Images/RAHClighter.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    filter: drop-shadow(0px 5px 5px #2a2a2a1a);
}

.teamjoin{
    margin: 4rem 0;
    width: 80%;
    align-items: flex-start;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
    background-size: 15%;
}

.subhead{
    background-size: 7%;
}


.sidesectimg{
    width: 25%;
    border-radius: 10px;
}

.teamjoinbody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.employmentacc{
    margin: 6.5rem auto;
    text-align: center;
    border-top: 2px solid #ec80768e;
    border-bottom: 2px solid #ec80768e;
}

.employmentacc a{
    color: black;
}

.requirementscontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reqs{
    width: 80%;
    padding: 3rem;
    margin-bottom: 15rem;
}

.requirements h2{
    text-align: center;
}

.HCAContent{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
   
}

.HCA{
    width: 43%;
    padding: 2rem 1.5rem;
    position: relative;
    border-radius: 100px;
    bottom: 130px;
    left: -55px;

}

.HCAImage{
    width: 15%;
}

.HCAbutton{
    width: 65%;
}

.navbuttonHCA{
    width: 70%;
}

.HCA p{
    justify-content: center;
    text-align: center;
    width: 85%;
    margin: auto;
}

.HCA h2{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: black;
}

.buttonsection{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.lefttext p::before {
    content:url("../Resources/Images/Rosesmaller.png");
    margin-right:.5rem
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 12rem auto;
}

.rightsection2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
}

.lefttext{
    width: 65%;
}

.employeetest{
    height: 5%;
    background-color: #F4D9D5;
    border: none;
    width:60%;
    flex-direction: row;
    background-image: none;
    justify-content: space-evenly;
    border-radius: 100px;
    position: relative;
    z-index: 10;
    padding: 2.5rem;
    top: 40px;
    left: 0px;
}

video{
    width: 33%;
}

.right{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    position: relative;
    float: right;
    background-size: 15%;
}

.rightsection{
    display: flex;
    align-items: center;
}

.lefttext2{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
}

.lefttext2 h2{
    margin: 0;
    padding-bottom: 2rem;
    text-align: start;
}

.smallsect{
    text-align: center;
    background-image: none;
}

.centerlogo{
    position: absolute;
    z-index: -1;
    right: 500px;
    padding-top: 270px;
    opacity: .1;
    width: 12.5%;
}


@media only screen and (min-width: 481px) and (max-width: 1024px) {

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.4rem;
    }
    
    p{
        display: flex;
        align-items: flex-start;
        padding: .5rem 0;
        font-size: 1rem;
    }

    .accolades h2{
        font-size: 1.1rem;
    }

    .reqs{
        margin-bottom: 7rem;
    }

    .centerlogo{
        display: none;
    }

    .employeetest{
        position: static;
        margin-bottom: 6rem;
        width: 85%;
    }

    .section2{
        flex-direction: column;
        margin: 7rem auto;
    }

    .HCA{
        position: static;
        width: 85%;
    }

    .HCA h2{
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 1024px) {

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.4rem;
    }
    
    p{
        display: flex;
        align-items: flex-start;
        padding: .5rem 0;
        font-size: 1rem;
    }

    .accolades h2{
        font-size: 1.1rem;
    }

    .reqs{
        margin-bottom: 7rem;
    }

    .centerlogo{
        display: none;
    }

    .employeetest{
        position: static;
        margin-bottom: 6rem;
        width: 85%;
    }

    .section2{
        flex-direction: column;
        margin: 7rem auto;
    }

    .HCA{
        position: static;
        width: 85%;
    }

    .HCA h2{
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 481px) {

    .jumbotron{
        background-position-x: -17rem;
    }

    .subhead{
        background-size: 33%;
    }

    .employmentacc{
        width: 91%;
        margin: 6.5rem auto 6.5rem;
    }

    .mobrule{
        margin: 8.5rem auto 1.5rem;
    }

    .accolades{

        width: 82%;
    }

    .employeetest{
        flex-direction: column-reverse;
        align-items: center;
    }


    .lefttext{
        width:90%;
    }

    .lefttext2{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .lefttext2 h2{
        padding-bottom: 1rem;
        text-align: center;
    }

    video{
        width: 75%;
        padding-bottom: 3rem;
    }

    .reqs{
        width: 70%;
    }

    .teamjoin{
        width: 75%;
    }

    .sidesect{
        background-image: none;
    }

    .sidesectimg{
        display: none;
    }

    .teamjoinbody{
        justify-content: flex-start;
    }


    .requirementscontent{
        justify-content: flex-end;
    }

}