.jumbotron{
    background-image: url(/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Subpages/About/Resources/ClassPhoto.png);
    justify-content: center;

}

.jumbotron h2{
    width: auto;
    padding: 11.7rem 0;
    padding-bottom: 11.7rem;
    color: #f9c0bb;

}