.menu {
    top: 0;
}

.jumbotron{
    background-image: url(/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Subpages/About/Resources/ClassPhoto.png);
    justify-content: center;
    position: relative;

}

.jumbotron h2{
    width: auto;
    padding: 11.7rem 0;
    padding-bottom: 11.7rem;
    color: #f9c0bb;
}

.overview{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.overview h2{
    padding: 2rem 0;
    font-size: 1.7rem;
    font-weight: 100;
    width: 90%
}

.headshots{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem 0 6rem 0;
    row-gap: 3rem;
    background-image: url('/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Subpages/About/Resources/logo-about.png');
    background-size: cover;
}

.headshot h3{
    margin: .25rem 0
}

.title {
    font-size: 1.3rem;
}

.headshot {
    width: 21%;
    text-align: center;
}

.headshot img{
    width: 70%;
    border: 1px solid #f05e4f;
    border-radius: 150px;
}