html{
    font-size: 16px;
    font-family: futura;
    --body-font: futura;
}

h1 {
    font-size: 1.15rem;
    margin: .5rem .3rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
}

body{
    max-width: 100%;
    margin: 0;
}

p{
    font-size: 1.15rem;
    font-weight: 100;
    margin: .5rem .3rem;
    line-height: 1.7rem;
}


/* Header */

header{
    background-color: white;
}

.header-desktop{
    display: grid;
    grid-template-areas: 'left logo nav button right';
    grid-template-columns: 8% 1fr 2fr 1fr 8%;
    width: 100%;
    justify-items: center;
    background-color: white;
    align-items: center;
    position: fixed;
    z-index: 102;
    padding: 1rem 0 1.5rem 0;
    top: 0px;
    filter: drop-shadow(0px 5px 5px rgb(132, 132, 132, .1));
}

header a{
    text-decoration: none;
    color: #181818;
    font-size: 1rem;
}

.desktop-logo{
    grid-area: logo;
    width: 105%;
    margin-top: -.25rem;
    max-width: 45%;
    height: auto;
    width: auto;
}

header ul{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
}

.navbuttonint{
    grid-area: button;
    display: flex;
    align-items: center;
}

.navbutton{
    border-radius: 5px;
    padding: .1rem .3rem;
    display: flex;
    align-items: center;
    background-color: #f7a39b;
    border: none;
    cursor: pointer;
}

.navbutton h1{
    font-size: 1.1rem;
    font-weight: 100;
    font-family: var(--body-font);
}

.navbutton:hover {
    background-color: #ec8076;
    transition: background-color 150ms ease-out;
}

.navbutton i{
    position: absolute;
    z-index: 15;
    opacity: 0;
    transform: translate(-2rem, 0px);
    transition: opacity 150ms ease-out, transform 150ms ease-out;
}

.navbutton h1{
    position: relative;
    z-index: 23;
}

.navbutton:hover i{
    transform: translate(-2.3rem, 0px);
    opacity: 1;
    transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.navitem:hover a{
    color: #f05a4d;
}


/*Jumbotron */


.jumbotron{
    height: 60vh;
    padding-top: 5.8rem;
    background-color: black;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihYYbVP0lKR37XG0eRoEfbuOkuBVUNnZT7MgJyd71X1Oklf0Aklg47kmjbzw3dB1Hhkl9nDSFE3nls-brefcXGdr7u5IXacPH-8=s1600-rw-v1");
    background-size: 100%;
    overflow: hidden;
    display: flex;
    background-repeat: no-repeat; 
    background-size: cover;
    justify-items: center;
    align-items: center;
}

.jumbotroncontents{
    display: flex;
    margin: auto auto;
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
}

.jumbotron img{
    width: 30%;
    filter: drop-shadow(0px 5px 5px #2a2a2a1a);
    margin-top: -.75rem;
}

.jumbotron h1{
    font-size: 3.4rem;
    padding-bottom: 1.2rem;
    color: white;
    width: 77%;
}

.jumbotron a{
    font-size: 1.4rem;
    font-weight: lighter;
    text-decoration: none;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color:#181818;
    filter: drop-shadow(0px 5px 5px #2a2a2a1a);
}

.rightcontents{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    margin-left: -2rem;
}

.rightbuttons{
    width: 68%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rightbuttons .navbutton{
    width: 30%;
    padding: .8rem 1.5rem;
    filter: drop-shadow(0px 5px 5px #2a2a2a1a);
}


/* Web Reviews */


.accolades-desktop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto 1.5rem auto;
    padding: 1.5rem 5rem 1.5rem 5rem;
    width: 42%;
    border-top: 1px solid rgb(166, 166, 166, 0.3);
    border-bottom: 1px solid rgb(166, 166, 166, 0.3);
    background: radial-gradient(closest-corner, #f7f7f7, #FFFFFF);
}

.accolades-desktop h3{
    margin: 0 0 2rem .5rem;
    font-weight: 100;
    font-size: 1.3rem;
}

.reviews{
    display: grid;
    position: relative;
    grid-template-areas: 'caringr yelpr googler';
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto; 
    padding-bottom: .5rem;
    align-items: center;
    justify-items: end;
}


.reviews a{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    text-decoration: none;
    font-size: 3rem;
    padding: -.5rem;

}

.reviews h1{
    font-size: 2.2rem;
    margin: 0 auto;
    color: rgb(52, 44, 0)
}

.webnames{
    display: grid;
    position: relative;
    width: 100%;
    grid-template-areas: 'caringt yelpt googlet';
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.googlet{
    grid-area: googlet;
    padding-top: .6rem;
    padding-left: 1.2rem;
    width: 60%;
}

.caringt{
    grid-area: caringt;
    width: 65%;
}

.yelpt{
    grid-area: yelpt;
    padding-left: 1.3rem;
    margin-top: -0.2rem;
    width: 50%;
}

.webnames a{
    text-decoration: none;
    color: #474747;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Company Description + Map */

.descrip-desktop{
    max-width: 70%;
    text-align: center;
    margin: 9rem auto 9rem auto;
}

.descrip-desktop h1{
    font-size: 2.3rem;
}

.tinyrect{
    width: 7%;
    height: 1%;
    background-color: #f7a39bcd;
    margin: 2rem auto;
}

.buttonandmap{
    display: flex;
    flex-wrap: wrap;
    height: 47%;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0 0 0;
    margin: 0 auto;
    width: 85%;
}

.PagePromo-input{
    font-size: 1.2rem;
    font-family: var(--body-font);
    border: 2px solid #f7a39b95;
    border-radius: 5px;
    padding: .75rem 0 .75rem .5rem;
}

.ziplookup{
    height: 15%;
    white-space: nowrap;
}

.ziplookupbotton {
    margin-left: -.5rem;
    font-family: var(--body-font);
    text-align: center;
    padding: 13px 1.5rem 13px 1.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid #f7a39b95;
    background-color: #f7a39b;
}

.buttonandmap img{
    height: 100%;
    filter: drop-shadow(0px 10px 5px rgb(132, 132, 132, .1))
}


/* Services */


.services{
    margin: 3rem auto 3rem auto;
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.services-top{
    display: flex;
}

.services p{
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
}

.servicesleft{
    width: 45%;
}

.services-right-desktop{
    width: 50%;
    padding-left: 2rem;
}

.servicesleft img{
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px 10px 5px rgb(132, 132, 132, .1));
}

.services h1{
    font-size: 1.6rem;
    padding: 0 0 .5rem 0;
    margin: 0;
}

.services .tinyrect{
    width: 10%;
    height: 1.5%;
    background-color: #f7a39bcd;
    margin: 2rem 0;
}

.caretypes-desktop{
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    justify-content: space-evenly;
    padding: 4rem 0 0 0;
}

.caretype {
    text-align: center;
    background-color: #eee;
    padding: 1.5rem 2.5rem;
    border: 2px solid #f7a39b;
    border-radius: 10px;
}

.caretype-header{

}

.alarm{
    background-image: ;
}

.caretype h2{
    font-size: 1.3rem;
}

.type1{
    display: flex;
    width: 18%;
    align-items: start;
    border: 1px solid #fab5af;
    border-radius: 10px;
    background-color: #93939310;
}

.type1:hover{
   color: #f05a4d;
   transform: translate(0px, -.25rem);
   transition: transform 100ms ease-in;
}

.type2{
    display: flex;
    width: 18%;
    align-items: start;
    border: 1px solid #fab5af;
    border-radius: 10px;
    background-color: #93939310;
    
}

.type2:hover{
    color: #f05a4d;
    transform: translate(0px, -.25rem);
    transition: transform 100ms ease-in;
 }

.type3{
    display: flex;
    width: 18%;
    align-items: start;
    border: 1px solid #fab5af;
    border-radius: 10px;
    background-color: #93939310;
}

.type3:hover{
    color: #f05a4d;
    transform: translate(0px, -.25rem);
    transition: transform 100ms ease-in;
 }

.type4{
    display: flex;
    flex-wrap: wrap;
    width: 18%;
    align-items: start;
    border: 1px solid #fab5af;
    border-radius: 10px;
    background-color: #93939310;
}

.type4:hover{
    color: #f05a4d;
    transform: translate(0px, -.25rem);
    transition: transform 100ms ease-in;
 }


.caretypes-desktop a{
    font-weight: 100;
    padding: 0 1.5rem;
    font-size: .9rem;
    color: #181818;
    text-decoration: none;
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-evenly;
}

.fa-angle-right{
    padding-top: .21rem;
    opacity: .7;
    color: #f05a4d;
}


/* Accolades */


.accolades2{
    display: flex;
    margin: 11rem auto;
    width: 50%;
    border-top: 1px solid rgb(166, 166, 166, 0.3);
    border-bottom: 1px solid rgb(166, 166, 166, 0.3);
    background: radial-gradient(closest-corner, #f7f7f7, #FFFFFF);
}

.badges{
    display: flex;
    position: relative;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto; 
    align-items: center;
    justify-content: space-between;
}

.bohce{
    width: 13%;
}

.bohcp{
    width: 13%;
}

.trcs{
    width: 18%;
}

.tphp{
    width: 16%;
}

.cahsah{
    width: 14%;
}


/* FAQs */


.faqtext h1{
    font-size: 2rem;
    margin: 0;
}

.faqsection{
    max-width: 70%;
    margin: 9rem auto 9rem auto;
    display: flex;
    justify-content: space-between;
}

.faqsection .tinyrect{
    width: 15%;
    height: 1.5%;
    background-color: #f7a39bcd;
    margin: 2rem 0;
}

.accordionparent{
    width: 75%;
}

.accordion {
  background-color: #eee;
  width: 70%;
  color: #444;
  cursor: pointer;
  font-family: var(--body-font);
  font-size: 1.3rem;
  padding: 18px;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion:hover{
    background-color: #f7a39bcd;
}

.accordion i{
    padding-right: .5rem;
    opacity: 0;
    transform: translate(0, -.5rem);
    transition: opacity 150ms ease-out, transform 250ms ease-out;
}

.accordion:hover i{
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.active i{
    opacity: 1;
    transform: translate(0, 0);
}

.active{
    margin-bottom: 0;
}

.panel {
  padding: .5rem 18px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f7a39bcd;
  display: none;
  background-color: #f8f8f8;
  overflow: hidden;
}


/* Review Carousel */


.review-carousel{
    margin: 0 auto;
    width: 75%;
    padding: 3rem 0 6rem 0
}

.gallery-cells{
    width: 100%;
    margin: 0 auto;
    font-weight: 100;
}

.flickity-button-icon{
    color: #ea6b60;
}

.flickity-page-dots {
    bottom: 3rem;
    margin: 0;
}

.gallery-content{
    width: 80%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    border: 2px solid #f7a39bcd;
    background-color: #f8f8f8;
    filter: drop-shadow(0px 10px 10px rgb(132, 132, 132, .2));
}


/* Blogs */


.blog-section{
    width: 65%;
    height: 35%;
    margin: 9rem auto;
    padding-bottom: 4.5rem;
    text-align: center;
    
}

.blog-section h1{
    font-size: 2.3rem;
}

.blog-section a{
    font-weight: 100;
    padding: 0rem 3rem;
    font-size: 1.1rem;
    color: #eee;
    text-decoration: none;
}

.desktop-blogs{
    display: flex;
    gap: 1rem;
    height: 85%;
    text-align: center;
    justify-content: space-between;
    overflow-x: scroll;
}

.blog1{
    display: flex;
    width: 20%;
    align-items: start;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpiha7WB2vvxoRe4Tpa5K9LNgIRv3p6UMl7VsR8tQhbq9g2Nfqu3lOpM7FiCKYzsdV-xr83tl5dm-GhDi8uUFQTG_TGmIEGAIg92M=s1600-rw-v1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blog1:hover{
   color: #faccc7;
}

.blog2{
    display: flex;
    width: 20%;
    align-items: start;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihYWSCDP5Y9RR3nObMlOKXThHzEs9PRVwXWikg5a4ZQ7Y6xIZImJTtt4SecP0AP_OIcjEdr6Riw6xzp1H1gcWFKm6vlBzA1Bv3M=s1600-rw-v1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.blog2:hover{
    color: #fab5af;
 }

.blog3{
    display: flex;
    width: 20%;
    align-items: start;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihZCsuhj4-xmiEnm_TDwbmgCm7KG8WDohkCPWwR0APRa05ZH-5etOmvjA6y-9Ap-yZrmT4JrriFEw-8BGw5iQulqz29NgTvhNZE=s1600-rw-v1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blog3:hover{
    color: #fab5af;
 }

.blog4{
    display: flex;
    width: 20%;
    align-items: start;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihZRotExuVKx_0RL8gM-uXb5bE8PqpbVPhp5xCbYNk9dmkG6ebKms4PJhnheQsdm4sCce3CegabD6Pr-_s92EByzidupVTspf04=s1600-rw-v1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blog4:hover{
    color: #faccc7;
 }


/* Footer */


 footer{
    width: 100%;
    border-top: 1px solid #f7a39b73;
 }

 footer ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    line-height: 2.4rem;
 }

 footer a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #181818;
 }

 footer a:hover{
    color: #f05a4d
 }

 .footercontents{
    display: grid;
    margin: 5rem auto;
    grid-template-areas: 'footercompanyinfo footervarities footerhelplinks';
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    align-items: start;
 }

 .footercompanyinfo{
    grid-area: footercompanyinfo;
 }

 .footervarities{
    grid-area: footervarities;
 }

.footeraddress{
    width: 65%;
    padding: 1.5rem 0;
}

.allrights{
    padding-top: .75rem;
}

 .footerhelplinks{
    grid-area: footerhelplinks;
 }

.socialbuttons{
    display: flex;
    justify-content: flex-start;
    padding: 0 0 .75rem 0;
}

.socialbuttons a{
    display: inline-flex;
}

 .socialbuttons img{
    width: 40%;
    object-fit: fill;
 }

footer h1{
    background-color: #f7a39b73;
    padding: 0.2rem 0 .2rem .2rem;
    width: 68%;
}

footer p{
    margin: 0;
}

footer h5{
    margin: .5rem 0;
    font-weight: lighter;
}



/* Destkop ONLY */

@media only screen and (min-width: 1024px) {
    .header-mobile{
        display: none;
    }
}

/* Desktop + Tablet */
@media only screen and (min-width: 481px) {
    
    .descrip-mobile {
        display: none;
    }

    .mobile-button {
        display: none;
    }

    .mobile-blogs {
        display: none;
    }

    .accolades-mobile {
        display: none;
    }

    .caretypes-mobile {
        display: none;
    }

    .services-right-mobile {
        display: none;
    }

    .services-bottom-mobile {
        display: none;
    }

    .services-top {
        display: flex;
    }

    .socialbuttons-mobile{
        display: none;
    }
}




/* Mobile ONLY */
@media only screen and (max-width: 480px){
    
    /* Header */
    
    .header-desktop {
        display: none;
    }

    .header-mobile {
        height: 4.7rem;
        display: grid;
        grid-template-areas: 'button logo';
        grid-template-columns: 1fr 5fr;
        align-items: center;
        justify-items: center;
        background-color: white;
        z-index: 102;
        position: fixed;
        filter: drop-shadow(0px 5px 5px rgb(132, 132, 132, .1));
    }

    .mobile-logo {
        grid-area: logo;
        width: 42%;
        padding-right: 3rem;
    }

    .fa-bars {
        grid-area: button;
    }

    .dropbtn {
        border: none;
        cursor: pointer;
        padding: 12px 16px;
      }

    .dropdown {
        position: relative;
        display: inline-block;
      }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content a:hover {background-color: #ddd;}

      .show {display:block;}

     .header-mobile button{
        border: none;
        cursor: pointer;
        height: 13px;
        background-color: white;
    }
    
    .header-mobile button:hover{
        transition: background-color 150ms ease-out;
    }

    /* Jumbotron */

    .jumbotron {
        padding: 0;
        background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihYvA6nn9xcuOQeLgOwm5S79XmfFJGsZJeZK_k4SjCPYwm67BVtnjD4M259lh1o4ZAZZQgBIJhMoI63GfAQaJGxTQ8UWOKYzn1c=s1600-rw-v1");
        height: 43vh;
        position: relative;
        top: 4rem;
        width: 104%;
        left: -1rem;
    }

    .jumbotroncontents{
        display: none;
    }
    

    /* Description */

    .descrip-desktop {
        display: none;
    }

    .descrip-mobile {
        text-align: center;   
        padding-top: 3rem; 
    }

    .descrip-mobile .tinyrect{
        margin: 1.5rem auto
    }

    .descrip-mobile h1{
        margin: 3rem .3rem .5rem .3rem;
    }

    .descrip-mobile h1{
        font-size: 2rem;
    }

    .caretypes h3{
        font-size: 1rem;
    }

    /* Accolades */

    .accolades-desktop{
       display: none;
    }

    .accolades-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2.5rem auto 1.5rem auto;
        padding: 1.5rem 0;
        width: 100%;
        border-top: 1px solid rgb(166, 166, 166, 0.3);
        border-bottom: 1px solid rgb(166, 166, 166, 0.3);
        background: radial-gradient(closest-corner, #f7f7f7, #FFFFFF);
        width: 85%;
    }
    
    .accolades-mobile h3{
        margin: 0 0 2rem .5rem;
        font-weight: 100;
        font-size: 1.3rem;
    }

    .care {
        width: 100%;
        display: flex;
    }

    .yelp {
        width: 100%;
        display: flex;
    }

    .google {
        width: 100%;
        display: flex;
    }

    .googlet {
        padding: .1rem 0 0 0;
    }

    .yelpt {
        padding-left: 0;
        margin-top: -0.5rem;
    }

    .reviews {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin: 0 auto; 
        padding-bottom: .5rem;
        align-items: center;
        justify-items: end;
        height: 22vh;
        justify-content: space-between;
    }

    .reviews h1 {
        width: 44%;
        font-size: 1.9rem;
    }

    .reviews a{
        display: flex;
        justify-content: center;
    }

    .webnames {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        grid-template-areas: 'caringt yelpt googlet';
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .webnames a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    /* Services */

    .services{
        max-width: 92%;
        display: block;
    }

    .caretypes-desktop{
        display: none;
    }

    .services-right-desktop {
        display: none;
        width: 100%;
        text-align: center;
    }

    .services-right-mobile{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 1.5rem;
    }

    .servicesleft{
        width: 100%;
    }

    .services-top {
        display: flex;
        flex-direction: column;
    }

    .services-bottom-mobile {
        text-align: center;
    }

    .tinyrect{
        height: .5vh;
        margin: 1.5rem auto;
        width: 10%;
    }

    .services .tinyrect{
        height: .5vh;
        width: 10%;
        margin: 1.3rem auto;
    }

    .caretypes-mobile {
        padding-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 20vh;
        align-content: space-around;
        justify-content: space-between;
    }

    .caretypes-mobile a{
        font-weight: 100;
        height: 6vh;
        padding: 0 .5rem;
        font-size: .7rem;
        color: #181818;
        text-decoration: none;
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-evenly;
    }

    /* Accolades 2 */

    .accolades2{
        padding: 3rem 2.5rem;
        margin: 5rem auto;
    }

    .badges {
        flex-direction: column;
        height: 65vh;
    }

    .bohce{
        width: 53%;
    }
    
    .bohcp{
        width: 53%;
    }
    
    .trcs{
        width: 65%;
    }
    
    .tphp{
        width: 62%;
    }
    
    .cahsah{
        width: 60%;
    }


    /* FAQs */
    
    .faqsection{
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        margin: 7rem auto;
    }

    .faqtext {
        text-align: center;
    }

    .accordion i {
        display: none;
    }

    /* Review Carousel */

    .review-carousel {
        width: 100%;
    }

    /* Blog */

    .blog-section {
        width: 90%;
    }

    .desktop-blogs {
        display: none;
    }

    .mobile-blog1{
        display: flex;
        width: 20%;
        align-items: start;
        background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpiha7WB2vvxoRe4Tpa5K9LNgIRv3p6UMl7VsR8tQhbq9g2Nfqu3lOpM7FiCKYzsdV-xr83tl5dm-GhDi8uUFQTG_TGmIEGAIg92M=s1600-rw-v1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .mobile-blog1:hover{
       color: #faccc7;
    }
    
    .mobile-blog2{
        display: flex;
        width: 20%;
        align-items: start;
        background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihYWSCDP5Y9RR3nObMlOKXThHzEs9PRVwXWikg5a4ZQ7Y6xIZImJTtt4SecP0AP_OIcjEdr6Riw6xzp1H1gcWFKm6vlBzA1Bv3M=s1600-rw-v1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    
    .mobile-blog2:hover{
        color: #fab5af;
     }
    
    .mobile-blog3{
        display: flex;
        width: 20%;
        align-items: start;
        background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihZRotExuVKx_0RL8gM-uXb5bE8PqpbVPhp5xCbYNk9dmkG6ebKms4PJhnheQsdm4sCce3CegabD6Pr-_s92EByzidupVTspf04=s1600-rw-v1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .mobile-blog3:hover{
        color: #fab5af;
     }


    .mobile-blogs{
        display: flex;
        height: 85%;
        text-align: center;
        justify-content: space-between;
        overflow-x: scroll;
        gap: 1rem;
    }

    .mobile-blogs h3{
        width: 60%;
        font-size: 1.7rem;
    }

    .mobile-blogs a{
        width: 60%;
        padding: .5rem .5rem;
        display: flex;
        align-items: center;
    }

    /* Mobile Button */

    .mobile-button{
        height: 7%;
        display: flex;
        border: 2px solid #f7a39b;
        justify-content: center;
        position: fixed;
        z-index: 99;
        bottom: 0.0000001;
        width: 100%;
        box-sizing: border-box;
        background-color: #faf9f9;
        box-shadow: 1px 0px 5px rgb(132, 132, 132, .1)
    }

    .mobile-button:active{
        background-color: #f7a39b;
    }

    .mobile-button a {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        text-decoration: none;
        color: #181818;
        width: 24%;
        justify-content: space-between;
    }

    .fa-phone-volume{
        padding-right: .3rem;
    }


    /* Footer */

    footer {
        width: 100%;
    }

    .footerlogo img{
        width: 90%;
    }

    .footeraddress p{
        font-size: 1rem;
    }

    .socialbuttons-desktop{
        display: none;
    }
    
    .footercontents {
        display: flex;
        flex-direction: column;
    }

    footer a {
        font-size: 1.1rem;
    }

    .footeraddress {
        padding: 1rem 0;
    }

    .allrights {
        padding-top: .5rem;
    }

}

/* Tablet Adjustments */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    
    .header-desktop {
        display: none;
    }



  }