    html {
    font-size:16px !important;
    font-family:GuerrerNormal !important;
    --body-font:GuerrerNormal
    }

    @font-face {
        font-family: "GuerrerNormal";
        src: url('../Resources/webFonts/GuerrerNormal/font.woff') format('woff2'), url('../Resources/webFonts/GuerrerNormal/font.woff') format('woff');
      }

    h1 {
        color: white;
        font-size: 3.5rem;
        margin: 3rem auto;
        filter: drop-shadow(0px 5px 5px #2a2a2a00);
        text-align: center;
        font-weight: bold;
    }
    
    .indexh1{
        font-size:1.5rem;
        margin:.5rem .3rem;
        padding: 0;
        color: black;
        text-align: center;
    }

    .h1h2{
        color: white;
        font-size: 3.5rem;
        filter: drop-shadow(0px 5px 5px #2a2a2a00);
        text-align: center;
        font-weight: bold;
    }

    h2 {
    font-size:1.2rem;
    margin:.5rem .3rem;

    }

    h3 {
    font-size:1.6rem;
    }

    li {
        font-size: 1.15rem;
        margin: .25rem 0;
    }
    
    
    body {
    max-width:100%;
    margin:0
    }
    
    p {
    font-size:1.15rem;
    font-weight:100;
    margin:.5rem .3rem;
    line-height:1.7rem
    }
    
    a {
    text-decoration:none
    }
    
    .tinyrect {
    width:7%;
    height:1%;
    background-color:#f7a39bcd;
    margin:2rem auto
    }
    
    header {
    background-color:#fff
    }
    
    .menu {
    display:grid;
    grid-template-areas:'left logo nav button right';
    grid-template-columns:8% 1fr 2fr 1fr 8%;
    width:100%;
    justify-items:center;
    background-color:#fff;
    align-items:center;
    position:fixed;
    z-index:102;
    padding:1rem 0 1.5rem;
    filter:drop-shadow(0px 5px 5px #84848415);
    top:0
    }
    
    header a {
    text-decoration:none;
    color:#181818;
    font-size:1.1rem
    }
    
    .logo {
    margin-top:-.25rem;
    width: 100%;
    }

    .logoa{
        grid-area:logo;
        max-width: 45%;
    }
    
    header ul {
    grid-area:nav;
    display:flex;
    justify-content:space-between;
    width:100%;
    padding:0;
    list-style:none;
    flex-wrap:wrap;
    align-content:center;
    box-sizing:border-box
    }


    .navbuttonint {
    grid-area:button;
    display:flex;
    align-items:center
    }
    
    .navbutton {
    border-radius:5px;
    padding:.1rem .3rem;
    display:flex;
    align-items:center;
    background-color:#f7a39b;
    cursor:pointer
    }
    
    .navbutton p {
    font-size:1.1rem;
    font-weight:100;
    position:relative;
    z-index:23;
    padding: 0 1rem;
    }
    
    .navbutton:hover {
    background-color:#ec8076;
    transition:background-color 150ms ease-out
    }
    
    .navbutton i {
    position:absolute;
    z-index:15;
    opacity:0;
    transform:translate(-2rem,0px);
    transition:opacity 150ms ease-out,transform 150ms ease-out
    }
    
    .navbutton:hover i {
    transform:translate(-2.3rem,0px);
    opacity:1;
    transition:opacity 250ms ease-in,transform 250ms ease-in
    }

    .navitem{
        font-size: 1.15rem;
        margin: .25rem 0;
    }
    
    .navitem:hover a {
    color:#f05a4d
    }
    
    .jumbotron {
    padding-top:5.8rem;
    height: 61vh;
    background-image:url("../Resources/Stock%20Photos/Jumbotron/Holdingarm.webp");
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-items:center;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    }

    
    
    .jumbotroncontents {
    width:65%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    margin:auto;
    background-color:rgba(0,0,0,0.02)
    }
    
    .jumbotron img {
    width:30%;
    filter:drop-shadow(0px 5px 5px #2a2a2a00);
    }
    
    .jumbotron h2 {
    font-size:3.4rem;
    padding-bottom:2.2rem;
    color:#fff;
    width:80%
    }
    
    .jumbotron a {
    font-size:1.4rem;
    font-weight:lighter;
    text-decoration:none;
    text-align:center;
    display:flex;
    justify-content:space-around;
    color:#181818;
    filter:drop-shadow(0px 5px 5px #2a2a2a0c)
    }
    
    .contactus {
        padding: .9rem 3.8rem;
        color: white;
    }

    .rightcontents {
    width:50%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-content:flex-end;
    margin-left:-2rem;
    }

    .rightcontents h2{
        text-align: left;
    }
    
    .rightbuttons {
    width:82%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap
    }
    
    .rightbuttons .navbutton {
    width:30%;
    padding: 1rem 1.75rem;
    filter:drop-shadow(0px 5px 5px #2a2a2a1a);
    }
    
    .accolades {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:2.5rem auto 1.5rem;
    padding:1.5rem 0;
    width:42%;
    border-top:1px solid #a6a6a6;
    border-bottom:1px solid #a6a6a6;
    background:radial-gradient(closest-corner,#f7f7f7,#FFF)
    }

    .subhead{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: 3rem auto 6rem;
        padding: 1.5rem 4rem;
        border: #F15B4E 1px solid;
        border-radius: 50px;
        background: url("../Services/Resources/Images/RAHClighter.png"), #fbfbfb;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10%;
        filter:drop-shadow(0px 5px 5px #2a2a2a13);
    }
    
    .accolades h4 {
    margin:0 0 2rem .5rem;
    font-weight:100;
    font-size:1.3rem;
    }
    
    .reviews {
    display:grid;
    position:relative;
    grid-template-areas:'caringr yelpr googler';
    width:100%;
    grid-template-columns:repeat(3,1fr);
    margin:0 auto;
    padding-bottom:.5rem;
    align-items:center;
    justify-items:end;
    }
    
    .reviews a {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-content:center;
    width:100%;
    text-decoration:none;
    font-size:3rem;
    padding:-.5rem;
    }
    
    .reviewtext {
    font-size:2.2rem;
    margin:0 auto;
    color:#342c00
    }
    
    .webnames {
    display:grid;
    position:relative;
    width:100%;
    grid-template-areas:'caringt yelpt googlet';
    grid-template-columns:repeat(3,1fr);
    justify-items:center;
    }
    
    .googlet {
    grid-area:googlet;
    padding-top:.6rem;
    padding-left:1.2rem;
    width:60%;
    }
    
    .caringt {
    grid-area: caringt;
    width: 65%;
    }
    
    .yelpt {
    grid-area:yelpt;
    padding-left:1.3rem;
    margin-top:-.2rem;
    width: 50%;
    }
    
    .webnames a {
    text-decoration:none;
    color:#474747;
    display:flex;
    justify-content:space-around;
    align-items:center
    }
    
    .descrip {
    width:60%;
    text-align:center;
    margin:9rem auto;
    }
    
    .descrip h2 {
    font-size:2.3rem
    }
    
    .buttonandmap {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    padding:3rem 0 0;
    margin:0 auto;
    width:100%;
    box-sizing:border-box
    }
    
    .PagePromo-input {
    font-size:1.2rem;
    font-family:var(--body-font);
    border:2px solid #f7a39b95;
    border-radius:5px;
    padding:.75rem 0 .75rem .5rem
    }
    
    .ziplookupbotton {
    margin-left:-.5rem;
    font-family:var(--body-font);
    text-align:center;
    padding:13px 1.5rem;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    font-size:1.2rem;
    border:1px solid #f7a39b95;
    background-color:#f7a39b
    }

    .ziplookupbotton:hover{
        cursor: pointer;
        background-color:#ec8076;
        transition:background-color 150ms ease-out;

    }
    
    .buttonandmap img {
    filter:drop-shadow(0px 10px 5px #8484842a);
    width: 40%;
    }
    
    .services {
    margin:14rem auto 3rem;
    max-width:70%;
    display:flex;
    flex-direction:column
    }
    
    .services-top {
    display:flex
    }
    
    .services p {
    margin:0 0 1rem;
    display:flex;
    justify-content:space-between
    }
    
    .servicesleft {
    width:45%
    }
    
    .services-right {
    width:50%;
    padding-left:2rem
    }

    .services-right a{
        font-size: 1.2rem;
        color: #f05a4d;
    }

    .services-right a:hover{
        font-size: 1.2rem;
        color:#f7a39b;
    }
    
    .servicesleft img {
    width:100%;
    border-radius:5px;
    filter:drop-shadow(0px 10px 5px #8484842a)
    }
    
    .services-top h2 {
    font-size:1.6rem;
    padding:0 0 .5rem;
    margin:0
    }
    
    .services-top .tinyrect {
    width:10%;
    height:1.5%;
    background-color:#f7a39bcd;
    margin:2rem 0
    }
    
    .caretypes {
    max-width:76%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    align-content:center;
    text-align:center;
    padding:7rem 0 0
    }
    
    .DLs {
    display:flex;
    justify-content:space-evenly
    }
    
    .DLs a {
    border:2px solid #f7a39b;
    border-radius:10px;
    filter:drop-shadow(0px 10px 5px #8484842a)
    }
    
    .Dls a:hover {
    filter:drop-shadow(0px 10px 5px #6c6c6c4b);
    }

    .Dls a:hover h2{
    color: #faccc7;
    }
    
    .caretype {
    text-align:center;
    background-color:#eee;
    border-radius:10px;
    width:32%;
    box-sizing:border-box
    }
    
    .caretypes-title {
    padding:3rem 0 1.5rem;
    width:85%;
    box-sizing:border-box
    }
    
    .caretype-contents {
    padding-bottom:.25rem
    }
    
    .caretypes-title .tinyrect {
    height:5px;
    margin:1.75rem auto;
    width:6%
    }
    
    .caretypes-title h2 {
    font-size:2rem
    }
    
    .iadl h2 {
    width:100%
    }
    
    .caretype h2 {
    padding-bottom:.5rem;
    font-size:1.9rem;
    color:#fff
    }
    
    .caretype h3 {
    color:#000
    }
    
    .caretype-header.adl {
    flex-shrink:2
    }
    
    .caretype-header {
    padding:.5rem 3rem;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-top-left-radius:8px;
    border-top-right-radius:8px
    }
    
    .caretype-header.adl {
    background-image:url("../Resources/Stock%20Photos/Caretypes/ADLs.webp");
    background-size:cover;
    }
    
    .caretype-header.iadl {
    background-image:url("../Resources/Stock%20Photos/Caretypes/IADLs.webp");
    background-size:cover
    }
    
    .caretype-header.specialized {
    background-image:url("../Resources/Stock%20Photos/Caretypes/ConditionSpecific.webp");
    background-size:cover
    }
    
    .caretype-contents h3::before {
    content:url("../Resources/SVGs/orange-check.png");
    margin-right:.5rem
    }
    
    .caretype h3 {
    font-size:1.3rem
    }
    
    .fa-angle-right {
    padding-top:.21rem;
    opacity:.7;
    color:#f05a4d
    }
    
    .accolades2 {
    display:flex;
    margin:11rem auto;
    padding:1.5rem 5rem;
    width:50%;
    border-top:1px solid #a6a6a6;
    border-bottom:1px solid #a6a6a6;
    background:radial-gradient(closest-corner,#f7f7f7,#FFF)
    }
    
    .badges {
    display:flex;
    position:relative;
    width:100%;
    grid-template-columns:repeat(5,1fr);
    margin:0 auto;
    align-items:center;
    justify-content:space-between
    }
    
    .bohce {
    width:13%
    }
    
    .bohcp {
    width:13%
    }
    
    .trcs {
    width:18%
    }
    
    .tphp {
    width:16%
    }
    
    .cahsah {
    width:14%
    }
    
    .va{
        width: 10%;
    }
    
    .faqtext h2 {
    font-size:2rem;
    margin:0
    }
    
    .faqsection {
    max-width:70%;
    margin:11rem auto 9rem;
    display:flex;
    justify-content:space-between
    }
    
    .faqsection .tinyrect {
    width:15%;
    height:1.5%;
    background-color:#f7a39bcd;
    margin:2rem 0
    }

    .panel a{
        color: #f05a4d ;
        font-size: 1.15rem;
    }

    .panel a:hover{
        color: #f7a39b ;
    }
    
    .accordionparent {
    width:75%
    }
    
    .accordion {
    background-color:#eee;
    width:70%;
    color:#444;
    cursor:pointer;
    font-family:var(--body-font);
    font-size:1.3rem;
    padding:18px;
    margin-bottom:1rem;
    width:100%;
    border:none;
    text-align:left;
    outline:none;
    transition:.4s;
    display:flex;
    justify-content:space-between;
    align-items:center
    }
    
    .accordion:hover {
    background-color:#f7a39bcd
    }
    
    .accordion i {
    padding-right:.5rem;
    opacity:0;
    transform:translate(0,-.5rem);
    transition:opacity 150ms ease-out,transform 250ms ease-out
    }
    
    .accordion:hover i {
    opacity:1;
    transform:translate(0,0);
    transition:opacity 250ms ease-in,transform 250ms ease-in
    }
    
    .active i {
    opacity:1;
    transform:translate(0,0)
    }
    
    .active {
    margin-bottom:0
    }
    
    .panel {
    padding:.5rem 18px;
    margin-bottom:1rem;
    border-bottom:1px solid #f7a39bcd;
    display:none;
    background-color:#f8f8f8;
    overflow:hidden
    }

    .vapanel{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .vapanel img{
        width: 35%;
        padding-right: 3rem;
    }
    
    .quotesp{
        font-size:1.6rem;
    }

    .testimonials{
    padding-top: 6rem 0 3rem;
    margin:0 auto;
    width:75%;
    }

    .testtext{
    font-size: 1.6rem;
    text-align: center;
    }

    .testtext a{
        color: #f05a4d
    }

    .testtext a:hover{
        color: #f7a39b
    }

    .review-carousel {
    padding:1rem 0 6rem
    }
    
    .gallery-cells {
    width:100%;
    margin:0 auto;
    font-weight:100
    }
    
    .flickity-button-icon {
    color:#ea6b60
    }
    
    .flickity-page-dots {
    bottom:3rem;
    margin:0
    }
    
    .gallery-content {
    width:73%;
    text-align:center;
    margin:0 auto;
    padding:1rem 2rem;
    border:2px solid #f7a39bcd;
    background-color:#f8f8f8;
    filter: drop-shadow(0px 5px 5px #84848454);
    }

    .gallery-content p{
        font-size: 1rem;
    }

    .flickity-viewport {
        transition: height 0.2s;
      }
    
    .blog-section {
    width:65%;
    margin:9rem auto;
    padding-bottom:4.5rem;
    text-align:center
    }
    
    .blog-section h2 {
    font-size:2.3rem
    }
    
    .blog-section a {
    font-weight:100;
    padding:0 3rem;
    font-size:1.2rem;
    color:#eee;
    text-decoration:none
    }
    
    .blogs {
    display:flex;
    gap:1rem;
    text-align:center;
    justify-content:space-between;
    overflow-x:scroll
    }
    
    .blog {
    display:flex;
    width: 26%;
    align-items:start;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    justify-content: center;
    }

    .blogrect{
        height: .5%;
    }
    
    .blog a:hover {
    color:#faccc7
    }
    
    .blog1 {
    background-image:url("../Resources/Stock%20Photos/Blog%20Photos/FruitProtein.webp")
    }
    
    .blog2 {
    background-image:url("../Resources/Stock%20Photos/Blog%20Photos/VA Benefits.webp")
    }
    
    .blog3 {
    background-image:url("../Resources/Stock%20Photos/Blog%20Photos/SoundHealing.webp")
    }
    
    .blog4 {
    background-image:url("../Resources/Stock%20Photos/Blog%20Photos/Springtime.webp")
    }
    
    footer {
    width:100%;
    border-top:1px solid #f7a39b73
    }
    
    footer ul {
    display:flex;
    justify-content:space-between;
    width:100%;
    padding:0;
    list-style:none;
    flex-direction:column;
    flex-wrap:wrap;
    align-content:center;
    line-height:2.4rem
    }
    
    footer a {
    text-decoration:none;
    font-size:1.3rem;
    font-weight:lighter;
    color:#181818
    }
    
    footer a:hover {
    color:#f05a4d
    }
    
    .footercontents {
    display:grid;
    margin:5rem auto;
    grid-template-areas:'footercompanyinfo footervarities footerhelplinks';
    grid-template-columns:1fr 1fr 1fr;
    width:75%;
    align-items:start
    }
    
    .footercompanyinfo {
    grid-area:footercompanyinfo
    }
    
    .footervarities {
    grid-area:footervarities
    }
    
    .footeraddress {
    width:65%;

    }
    
    .footerotherp{
        padding: .25rem 0;
        font-size: 1rem;
    }

    .footertitle{
        font-size: .8rem;
        padding-top: .5rem;
    }

    .allrights {
    padding-top:.75rem
    }
    
    .footerhelplinks {
    grid-area:footerhelplinks
    }
    
    .socialbuttons {
    display:flex;
    justify-content:flex-start;
    padding:0 0 .75rem
    }
    
    .socialbuttons a {
    display:inline-flex
    }
    
    .socialbuttons img {
    width:40%;
    object-fit:fill
    }
    
    footer h2 {
    background-color:#f7a39b73;
    padding:.2rem 0 .2rem .2rem;
    width:68%
    }
    
    footer p {
    margin:0
    }

    .footerlogo{
        width: 80%;
    }
    
    footer h5 {
    margin:.5rem 0;
    font-weight:lighter
    }

    .greenphone{
        color: green;
        width: 30%;
    }
    
    @media only screen and (min-width: 1385px) {
        .blog-section a {
            padding: 2rem 2.5rem;
        }

        }


    @media only screen and (min-width: 1025px) {
    .tablet-mobile {
    display:none
    }
    }
    
    @media only screen and (min-width: 1025px) and (max-width: 1258px) {
    
    .jumbotron{
    height: 55vh;
    }
    
    .jumbotroncontents {
    width:91%
    }

    .jumbtron img{
    width: 24%;
    }
    
    header a {
    font-size:.8rem
    }
    
    .navbutton h2 {
    font-size:.9rem
    }
    
    .blog-section a {
    font-size:1.1rem
    }
    
    footer a {
    font-size:1.1rem
    }
    }
    
    @media only screen and (min-width: 1025px) and (max-width: 1198px) {
    .ziplookup {
    padding-bottom:3rem
    }
    
    .descrip {
    margin-bottom:16rem
    }
    }
    
    @media only screen and (min-width: 481px) {
    .mobile {
    display:none
    }
    }

    @media only screen and (min-width: 999px) and (max-width: 1024px) {
        .jumbotron{
            height: 46vh;
        }
    }

    @media only screen and (min-width: 902px) and (max-width: 1024px) {
        .jumbotron{
            padding-top: 3rem;
        }
    }

    @media only screen and (min-width: 481px) and (max-width: 999x) {
        .jumbotron{
            height: 73vh;
        }
    }
  
    @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
    .jumbotron h2{
        font-size: 2.5rem;
        padding-bottom: 1.2rem;
    }
}
    @media only screen and (min-width: 481px) and (max-width: 1024px) {

    h1{
        margin: 2rem auto;
        font-size: 3rem;
    }

    .desktop {
        display:none;
    }


    
    .menu {
    height:2rem
    }
    
    .logo {
    max-width: 100%;
    padding-left: 1.6rem;
    margin-top: 0;
    }

    .logoa{
        max-width: 19%;
    }

    .jumbotroncontents {
    width:100%
    }
    
    .jumbotron a {
    font-size:1rem;
    margin-top: 0;
    }
    
    .jumbotron img {
    width:17%
    }

    .subhead{
        width: 75%;
        padding: 2.5rem 4rem;
        margin: 3rem auto 2rem;
        background-size: 20%;
    }
    
    .accolades {
    width:70%
    }
    
    .services {
    margin: 8rem auto 3rem;
    max-width:85%
    }
    
    .gallery-content {
    width:80%
    }
    
    .accolades2 {
    width:70%
    }

    .caretype h2{
        font-size: 1.3rem;
        width: 125%;
    }

    .caretype h3{
        font-size: 1rem;
    }
    
    .buttonandmap {
    height:auto
    }
    
    .buttonandmap img {
    display:none
    }
    
    .blog-section {
    width:85%;
    }

    .blog-section a{
        padding: 0 3rem;

    }


    .allrights{
        padding-top: 0;
       }
        

   footer h5{
    font-size: .8rem;
    width: 80%;
    margin: 0;
   }

   
    footer a {
    font-size:1rem
    }

    footer p{
        font-size:1rem;

    }
    
    .footercontents {
    width:88%
    }
    
    .footerlogo {
    padding-top:1rem
    }
    
    .footerlogo img {
    width:93%
    }

    .indexh1{
        font-size: 1.4rem;
    }

    }

    @media only screen and (max-width: 670px) and (orientation:landscape){

        .caretype h2 {
            font-size: 1.3rem;
        }

    }

    @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {

        .jumbotron{
            height: 28vh;
        }



    .jumbotron h2{
        font-size: 3rem;
        padding-bottom: 1.2rem;
    }

        .caretype h2{
            font-size: 1.4rem;
        }

        .caretypes{
            max-width: 95%;
        }

        .caretype{
            width: 31%;
        }

        .caretype-header{
            padding: .5rem 1rem;
        }

        .caretype h3 {
            font-size: .9rem;
        }


    }
    
    @media only screen and (max-width: 1024px) {
    .menu.desktop {
    display:none
    }
    
    .menu {
    grid-template-areas:'button logo';
    grid-template-columns:1fr 4fr 1fr
    }
    
    .fa-bars {
    grid-area:button
    }
    
    .dropbtn {
    border:none;
    cursor:pointer;
    padding:12px 16px;
    background-color:#fff
    }
    
    .dropdown {
    position:relative;
    display:inline-block
    }
    
    .dropdown-content {
    display:none;
    position:absolute;
    background-color:#fff;
    min-width:160px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    z-index:1
    }
    
    .dropdown-content a {
    color:#110807;
    padding:12px 16px;
    text-decoration:none;
    display:block
    }
    
    .dropdown-content a:hover {
    background-color:#faccc7
    }

    .dropdown-conten a:active {
        background-color:#faccc7
      }
    
    .show {
    display:block
    }
    
    .header.mobile button {
    border:none;
    cursor:pointer;
    height:13px;
    background-color:#fff
    }
    
    .header.mobile button:hover {
    transition:background-color 150ms ease-out
    }
    
    .faqsection {
    flex-direction:column;
    max-width:100%;
    align-items:center;
    margin:7rem auto
    }
    
    .faqtext {
    text-align:center
    }
    }
    
    @media only screen and (max-width: 480px) {

    h1{
        font-size: 3rem;
    }

    .indexh1{
        text-align: center;
    }

    .desktop {
    display:none
    }

    .desktop-tablet {
        display: none;
    }
    
    .tinyrect {
    height:.5vh;
    margin:1.5rem auto;
    width:10%
    }
    
    .logo {
    max-width:100%;
    padding-left: .7rem;
    margin-top: 0;
    }
    
    .logoa {
        max-width:41%;
    }


    .mobiler{
        display: flex;
        width: 45%;
        font-size: 2rem;
        padding: .75rem 0;
    }
    
    .jumbotron {
    padding:0;
    height: 52vh;
    position:relative;
    top: 4.5rem;
    background-position-x: -32rem;
    }

    .jumbotroncontents {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    }

    .subhead{
        margin: 9rem auto 6rem;
        width: 76%;
        padding: 2.5rem 1.56rem;
        background-size: 40%;
    }

    .rightcontents {
    width: 52%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    }

    .jumbotron img{
        width: 46%;
    }
    
    .jumbotron h2 {
        font-size: 2rem;
        width: 91%;
        padding-bottom: 1rem;
    }

    .jumbotron a {
        margin-top: .3rem;
        padding: 1rem 2.5rem;
        font-size: 1.2rem;
    }

    .rightbuttons{
        margin-right: 1rem;
        width: 83%;
    }

    .zipsect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ziplookupbotton{
        font-size: 1rem;
    }

    .PagePromo-input {
        font-size: 1rem;
    }

   .rightbuttons .navbutton {
        width: 65%;
        margin-left: 0;
        padding: .75rem 1.5rem;
        margin: .75rem 0;
    }

    

    .descrip.mobile {
    text-align:center;
    margin-bottom:5rem;
    max-width:100%
    }
    
    .descrip.mobile .tinyrect {
    margin:1.5rem auto
    }
    
    .descrip.mobile h2 {
    margin:3rem .3rem .5rem;
    font-size:2rem
    }
    
    .caretypes h4 {
    font-size:1rem
    }
    
    .accolades.mobile {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin: 9.5rem auto 1.5rem;
    padding:1.5rem 0;
    width:100%;
    border-top:1px solid #a6a6a6;
    border-bottom:1px solid #a6a6a6;
    background:radial-gradient(closest-corner,#f7f7f7,#FFF);
    width: 80%;
    }
    
    .accolades.mobile h4 {
    margin:0 0 2rem .5rem;
    font-weight:100;
    font-size:1.3rem
    }
    
    .care {
    width:100%;
    display:flex
    }
    
    .yelp {
    width:100%;
    display:flex
    }
    
    .google {
    width:100%;
    display:flex
    }

    .caringt{
        width: 71%;
    }
    
    .googlet {
    padding:.1rem 0 0;
    width: 68%;
    }
    
    .yelpt {
    padding-left:0;
    margin-top:-.5rem;
    width: 57%;
    }
    
    .reviews {
    display:flex;
    flex-wrap:wrap;
    position:relative;
    width:100%;
    margin:0 auto;
    padding-bottom:.5rem;
    align-items:center;
    justify-items:end;
    height: 28vh;
    justify-content:space-between
    }
    
    .reviews h2 {
    width:45%;
    font-size:1.9rem
    }

    
    
    .reviews a {
    display:flex;
    justify-content:center
    }
    
    .webnames {
    display:flex;
    flex-direction:column;
    position:relative;
    width:100%;
    grid-template-areas:'caringt yelpt googlet';
    grid-template-columns:repeat(3,1fr);
    justify-items:center
    }
    
    .webnames a {
    display:flex;
    justify-content:flex-start;
    align-items:center
    }
    
    .services {
    margin: 9rem auto 3rem;
    max-width:92%;
    display:block
    }

    .services-top h2{
    text-align: center;
    }
    
    .services-right.mobile {
    width:100%;
    text-align:center;
    padding-top:1.5rem;
    padding-left:0
    }
    
    .servicesleft {
    width:100%
    }
    
    .services-top {
    flex-direction:column;
    }
    
    .services-bottom.mobile {
    text-align:center
    }
    
    .services .tinyrect {
    height:.5vh;
    width:10%;
    margin:1.3rem auto
    }
    
    .caretypes .tinyrect {
    width:13%
    }
    
    .caretypes {
    padding:4rem 0 1rem
    }
    
    .caretypes-title {
    width:100%;
    padding-top:1.5rem;
    padding-bottom:.5rem
    }
    
    .caretypes-title p {
    display:none
    }
    
    .caretype {
    width:100%
    }
    
    .DLs {
    flex-direction:column;
    align-items:center;
    gap:2.5rem
    }
    
    .accolades2 {
    padding:3rem 2.5rem;
    margin:5rem auto
    }
    
    .badges {
    flex-direction:column;
    height:70vh
    }
    
    .bohce {
    width:53%
    }
    
    .bohcp {
    width:53%
    }
    
    .trcs {
    width:65%
    }
    
    .tphp {
    width:62%
    }
    
    .cahsah {
    width:60%
    }

    .va{
        width: 37%;
    }
    
    .accordion i {
    display:none
    }
    
    .review-carousel {
    width:100%
    }
    
    .blog-section {
    width:90%
    }
    
    .blogs .mobile {
    display:flex;
    text-align:center;
    justify-content:space-between;
    overflow-x:scroll;
    gap:1rem
    }
    
    .blogs.mobile h4 {
    font-size:1.4rem;
    width: 16vh;
    }
    
    .blogs.mobile a {
        display: flex;
        width:16vh;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    
    .bottom-button {
    height:7%;
    display:flex;
    border:2px solid #f7a39b;
    justify-content:center;
    position:fixed;
    z-index:99;
    bottom:1.0E-7px;
    width:100%;
    box-sizing:border-box;
    background-color:#faf9f9;
    box-shadow:1px 0 5px #84848440
    }
    
    .bottom-button:active {
    background-color:#f7a39b
    }
    
    .bottom-button a {
    display:flex;
    align-items:center;
    font-size: 1.4rem;
    text-decoration:none;
    color:#181818;
    width:30%;
    justify-content:space-around;
    }
    
    .fa-phone-volume {
    padding-right:.3rem
    }
    
    footer {
    width:100%
    }
    
    .footerlogo img {
    width:90%
    }
    
    .footeraddress p {
    font-size:1rem
    }
    
    .socialbuttons-desktop {
    display:none
    }
    
    .footercontents {
    display:flex;
    flex-direction:column
    }
    
    .footeraddress {
    padding:1rem