
h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.jumbotron{
    background-image: url("../Resources/Stock Photos/servicesjumbo.webp");
    background-size: 106%;
    background-position: 0 65%;
    display: flex;
    flex-direction: column;
}

.care-times{
    display: flex;
    text-align: center;
    width: 63%;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2.5rem auto 4rem auto;
    border: 1px solid #f05e4f;
    box-sizing: border-box;
    padding: 1.5rem 0;
    border-radius: 500px;
}

.care-time{
    position: relative;
    background-color: #ffffff55;
    border: 1px solid #f05e4f;
    border-radius: 200px;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffc6bf3d;
}

.care-time h3{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #f05e4f;
}

.care-time svg{
    width: 11%;
    fill: #f05e4f;
}

.care-class{
    width: 90%;
    margin: 0 auto;
    background-color: #b1b1b10e;
    border: 1px solid #f05f4f4c;
    border-radius: 50px;
    background-size: 100%;
}

.caretype{
    width: 30%;
}

.caretype-header{
    padding: 1rem 0;
}

.caretype-header h2{
    font-size: 2rem;
}

.caretype-element{
    display: flex;
    width: 31%;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f05e4f;
    padding: .5rem 0;
    border-radius: 30px;
    background-color: white;
    filter: drop-shadow(0px 10px 5px #84848416);
}

.caretype-element img{
    width: 35%;
    height: auto;
    border-radius: 300px;
    filter: drop-shadow(0px 10px 5px #8484840f);
}

.caretype-text{
    text-align: start;
    width: 56%;
}

.care-class h3{
    color: black;
    padding: .75rem 0 0 1.4rem;
}

.carecontainers{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding-bottom: 4rem;
}

.cc-iadl{
    padding: 3rem 0;
    width: 150%;
}

.carerow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.rahclogo-b{
    width: 9%;
    margin: 0 -3rem;
}

.rahclogo-i{
    width: 35%;
    padding-top: 5rem;
}

.caretype-text li{
    padding-bottom: .2rem;
}

.csheader{
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 2px solid #f7a39b;
    border-radius: 20px;
    padding: 2.5rem 5rem;
    background: no-repeat url("../Resources/Images/RAHClighter.png") #FBFBFB;
    background-size: 16%;
    background-position: center;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 10px 5px #8484840e);
}

.csheader h2{
    font-size: 2rem;
}

.DLs{
    width: 90%;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-around;
}

.caretype-contents{
    padding: 1rem;
}

.aslashd h2{
    color: white;
}

.aslashd h2:hover{
    color: #f7a39b;
}

.caretype h3{
    margin: 1rem auto;
}

.caretype-header{
    background-size: cover;
    width: 100%;
}

.cta{
    width: 50%;
    align-items: center;
    margin: 6rem auto;
    padding: 2rem 0;
    background-color: #f7a39b0f;
}

.navbuttons{
    display:flex;
    width: 37%;
    justify-content: space-between;
}

.servicebutton{
    width: 65%;
    justify-content: center;
    font-size: 1.2rem;
    color:black;
    padding: .75rem .3rem
}

.iadls{
    display: flex;
}

.iadl-e{
    width: 45%;
}

.iadl-h{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 .5rem;
}

.companionship{
    width: 80%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin: 8rem auto;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 2rem 0;
    background:radial-gradient(closest-corner,#f7f7f7,#FFF);
}

.companionshiptext{
    width: 40%;
}

.companionshiptext h2{
    font-size: 2rem;
}

.companionship a{
    color: #EC7F76;
}

.companionship a:hover{
    color: #f7a39b;
}

.companionship img{
    filter: drop-shadow(0px 10px 5px #84848416);
    border-radius: 5px;
    width: 30%;
}

.companionshiptext .tinyrect{
    margin: 2rem .4rem;
}

.condition-specific{
    max-width: 90%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    align-content:center;
    text-align:center;
    padding-bottom: 6rem;
}

.dementia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 45%;
    justify-content: space-around;
    align-content: flex-start;
}

.dementia:hover h2{
    color: #FACCC6;
}

.twocolumn{
    display: flex;
}

.dementia img{
    border-radius: 100px;
    width: 25%;
} 

.dementia h3{
    margin-bottom: 1rem;
    color: black;
}

.caretype-header p{
    padding-top: .3rem;
}

.dementiatext{
    background-image: url("../Resources/Stock Photos/Caretypes/Conditions/Dementia.png");
    background-size: cover;
}

.caretypetext{
    padding: 2rem 0 1rem 3rem;
    text-align: left;
}

.als{
    background-image: url("../Resources/Stock Photos/Caretypes/Conditions/ALS.png");
    background-position-y: -1.5rem;
}

.hospice{
    background-image: url("../hospice-care/hospice-careHeader.webp");
}

.parkinsons{
    background-image: url("../Resources/Stock Photos/Caretypes/Conditions/Parkinsons.png");
}

.ms{
    background-image: url("../Resources/Stock Photos/Caretypes/Conditions/MultipleSclerosis.png");
}

.aslashd{
    background-image: url("../Resources/Stock Photos/Caretypes/Conditions/Dementia.png");
}

.autism{
    background-image: url("../special-needs-images/special-needsHeader.webp");
}

.cancer{
    background-image: url("../Resources/Stock Photos/Caretypes/Conditions/Cancer.png");
    background-position-y: -2.6rem;
}

.stroke{
    background-image: url("../Resources/Stock Photos/Caretypes/Conditions/Stroke.png");
    background-position-y: -1.5rem;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .care-times{
        width: 90%;
    }

    .care-time h3{
        font-size: 1.3rem;
    }

    .caretype-text li{
        font-size: .8rem;
    }

    .care-class h3{
        font-size: 1.2rem;
    }

    .iadls {
        flex-direction: column;
        padding-top: 2rem;
    }

    .cc-iadl{
        width: 100%;
    }

    .rahclogo-i{
        display: none;
    }

    .caretype-header h2{
        font-size: 1.5rem;
    }

    .caretype h3{
        font-size: 1rem;
    }

    .stroke {
        background-position-x: -2rem;
        background-size: 117%;
        background-position-y: 0;
    }

    .hospice{
        background-position-x: -2rem;
    }


    .cancer{
        background-position-y: -0.6rem;
    }

    .als{
        background-position-y: 0rem;
    }

}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {

    .care-class h3{
        padding: 0;
    }

    ul{
        padding-inline-start: 1rem;
    }

    .caretype-element{
        width: 46%;
    }

    .carerow{
        flex-wrap: wrap;
    }

    .trans{
        margin-top: 2rem;
    }

    .rahclogo-b{
        display: none;
    }

    .caretype-header h2 {
        font-size: 1.2rem;
    }

    .caretype h3 {
        margin: .5rem auto;
    }

    .als{
        background-position-y: 0rem;
    }

    .stroke{
        background-position-y: -.5rem;
    }

    .caretype-contents h3::before {
        content: url("../Resources/Images/orange-checkipad.png");
    }

}

@media only screen and (max-width: 480px) {

    .caretype-text li{
        font-size: 12px;
    }

    p{
        font-size: 1rem;
    }



    .jumbotron{
        background-size: 271%;
        background-position: 49% -42px;
    }

    .care-times{
        flex-wrap: wrap;
        flex-direction: column;
        width: 91%;
        align-items: center;
        border-radius: 100px;
        padding: 3rem 0;
        margin-top: 8rem;
        
    }

    .care-time{
        width: 75%;
        margin: .8rem 0;
    }

    .care-time h3{
        font-size: 1.2rem;
        padding: .7rem 0;
    }

    .care-time svg{
        width: 9%;
    }

    .carerow{
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .rowtop{
        padding-bottom: 1.5rem;
    }

    .caretype-element{
        width: 96%;
        justify-content: center;
    }

    .rahclogo-b{
        display: none;
    }

    .rahclogo-i{
        display: none;
    }

    .carecontainers{
        row-gap: 0;
        padding-bottom: 3rem;
    }

    .care-class h3{
        font-size: 1.15rem;
    }

    .caretype h3 {
        font-size: 1.1rem;
    }

    .companionship{
        border-radius: 0px;
        width: 82%;
    }

    .companionship img{
        width: 75%;
        padding: 1rem;
        border-radius: 30px;
    }

    .companionshiptext {
        width: 84%;
        text-align: center;
    }

    .companionshiptext h2{
        font-size: 1.7rem;
    }

    .companionshiptext .tinyrect {
        margin: 1rem auto;
    }

    .navbuttons{
        width: 85%;
        padding-top: 2rem;
        justify-content: center;
    }

    .cta h3{
        width: 75%;
    }

    .csheader{
        width: 88%;
        padding: 1.8rem 1rem;
        background-size: 45%;
    }

    .caretype-header h2 {
        font-size: 1.4rem;
    }

    .iadls{
        flex-wrap: wrap;
    }

    .iadl-h h2{
        padding-top: 2rem;
    }

    .Dls{
        width: 100%;
        padding: 0;
    }

    .dpad{
        margin-bottom: 2.5rem;
    }

    .twocolumn{
        flex-wrap: wrap;
        justify-content: center;
    }

    .dementia{
        width: 90%;
    }

    .caretype{
        width: 90%;
    }

    
}

