h1{
    padding: 12rem 0
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.jumbotron{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/HeaderTwo.png");
    background-size: 106%;
    background-position: 20% 35%;
    display: flex;
    flex-direction: column;
}

.care-times{
    display: flex;
    text-align: center;
    width: 63%;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2.5rem auto 4rem auto;
    border: 1px solid #f05e4f;
    box-sizing: border-box;
    padding: 1.5rem 0;
    border-radius: 500px;
}

.care-time{
    position: relative;
    background-color: #ffffff55;
    border: 1px solid #f05e4f;
    border-radius: 200px;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffc6bf3d;
}

.care-time h3{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #f05e4f;
}

.care-time svg{
    width: 11%;
    fill: #f05e4f;
}

.care-class{
    width: 90%;
    margin: 0 auto;
    background-color: #b1b1b10e;
    border: 1px solid #f05f4f4c;
    border-radius: 50px;
    background-size: 100%;
}

.caretype{
    width: 30%;
}

.caretype-header{
    padding: 2rem 0;
}

.caretype-header h2{
    color: black;
    font-size: 2rem;
}

.caretype-element{
    display: flex;
    width: 31%;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f05e4f;
    padding: .5rem 0;
    border-radius: 30px;
    background-color: white;
    filter: drop-shadow(0px 10px 5px #84848425);
}

.caretype-element img{
    width: 35%;
    height: auto;
    border-radius: 300px;
    filter: drop-shadow(0px 10px 5px #8484840f);
}

.caretype-text{
    text-align: start;
    width: 53%;
}

.care-class h3{
    color: black;
    padding: .75rem 0 0 1.4rem;
}

.carecontainers{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding-bottom: 4rem;
}

.cc-iadl{
    padding: 3rem 0;
    width: 150%;
}

.carerow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.rahclogo-b{
    width: 9%;
    margin: 0 -3rem;
}

.rahclogo-i{
    width: 35%;
    padding-top: 5rem;
}

.caretype-text li{
    padding-bottom: .2rem;
}

.csheader{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 2px solid #f7a39b;
    border-radius: 20px;
    background-color: #f7a39b2c;
    padding: 0 1rem;
}

.DLs{
    width: 90%;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: space-around;
}

.caretype-contents{
    padding: 1rem;
}

.caretype h2{
    color: white;
}

.caretype h3{
    margin: 1rem auto;
}

.caretype-header{
    background-size: cover;
    width: 100%;
}

.cta{
    width: 50%;
    align-items: center;
    margin: 6rem auto;
    padding: 2rem 0;
    background-color: #f7a39b0f;
}

.servicebutton{
    width: 17%;
    justify-content: center;
    font-size: 1.2rem;
    color:black;
    padding: .75rem .3rem
}

.iadls{
    display: flex;
}

.iadl-e{
    width: 45%;
}

.iadl-h{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 .5rem;
}

.companionship{
    width: 80%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 8rem auto;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 2rem 0;
}

.companionshiptext{
    width: 40%;
}

.companionshiptext h2{
    font-size: 2rem;
}

.companionshiptext .tinyrect{
    margin: 2rem .4rem;
}

.condition-specific{
    max-width: 90%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    align-content:center;
    text-align:center;
    padding-bottom: 6rem;
}

.dementia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.twocolumn{
    display: flex;
}

.dementia img{
    border-radius: 100px;
    width: 25%;
}

.dementia h2{
    font-size: 1.75rem;
    color: black;
}

.dementia h3{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: black;
}

.caretype-header p{
    padding-top: .3rem;
}

.dementiatext{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/Dementia.png");
    background-size: cover;
}

.caretypetext{
    padding: 2rem 0 1rem 3rem;
    text-align: left;
}

.als{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/ALS.png");
}

.parkinsons{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/Parkinsons.png");
}

.ms{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/MultipleSclerosis.png");
}

.aslashd{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/Dementia.png");
}

.autism{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/Autism.png");
}

.cancer{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/Cancer.png");
}

.stroke{
    background-image: url("/Users/jake/Documents/WebProjects/NewRAHC/jakepeskin.github.io/Services/Resources/Stock Photos/Caretypes/Conditions/Stroke.png");
}