h1{
    color: black;
    font-size: 1.8rem;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

.servicessubhead{
    padding: 0;
    font-size: 3.2rem;
    color:white;
}

h3{
    color: #F15B4E;
    font-size: 1.8rem;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

h2{
    text-align: center;
}

h4{
    font-size: 1.35rem;
    color: #EC7F76;
    padding: 4rem 0 1rem 0;
    margin: 0;
    font-weight: normal;
}

a{
    color:#F15B4E;
}

p a:hover{
    color: #EC7F76;
}

body li{
    font-size: 1.15rem;
    margin: 1rem 0;
}

hr{
    width: 80%;
    color: #F15B4E;
    background-color: #F15B4E;
}

.jumbotron{
    background-position: 60%;
    height: 52vh;
    flex-direction: column;
    justify-content: center;
}

.accolades{
    width: 55%;
}

.contactus {
    padding: .9rem 3.8rem;
    color: white;
}

.jumbotron a{
    font-size: 1.3rem;
}

.overviewdescrip{
    text-align: center;
}

.accolades{
    text-align: center;
}

.subhead{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem auto;
    padding: 2.5rem 4rem;
    border: #F15B4E 1px solid;
    border-radius: 50px;
    background: url("../Resources/Images/RAHClighter.png"), #fbfbfb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14%;
    filter:drop-shadow(0px 5px 5px #2a2a2a13);
}

.subhead h2{
    font-size: 1.3rem;
    margin: 0;
}

.subhead p{
    text-align: center;
}

.contentsect{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding: 3rem 0;
}

.grey{
    background-color: #f9f9f94f;
}


p{
    margin: 0;
}

.top-p{
    padding-top: 2.85rem;
}

.contentsect img{
    margin: 4rem 0 0 0;
    filter:drop-shadow(0px 5px 5px #2a2a2a0a);
    border-radius: 5px;
}

.midpic{
    margin-bottom: 3rem;
}

.carouselsect{
    padding: 6rem 0 4rem;
}

.tinyrect{
    width: 35%;
    height: 1px;
    background-color: #f7a39bcd;
    margin: 2.5rem auto 0;
    opacity: .3;
}

.review-carousel h3{
    margin: 1em 0;
    padding: 0;
    color: black;
    font-size: 1.6rem;
}

.review-carousel{
    padding: 2rem 0 6rem;
}

.review-carousel p {
    font-size: 1.15rem;
    font-weight: 100;
    margin: .5rem .3rem;
    line-height: 1.7rem;
}

.carouselsect h4{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    padding: 0;
}

footer li{
    margin: 0;
}

.care-times{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 3rem auto 4rem auto;
    border: 1px solid #f05e4f;
    padding: 1.5rem 0;
    border-radius: 500px;
}

.cta{
    width: 70%;
    align-items: center;
    margin: 6rem auto;
    padding: 2rem 0;
    background-color: #f7a39b0f;
}

.servicebutton{
    width: 100%;
    justify-content: center;
    font-size: 1.2rem;
    color:black;
    padding: .75rem 1rem
}

.testh1{
    padding-bottom: 2.2rem;
}


/*Alzheimers/Dementia*/

.alzjumbo{
    background-image: url("../Alzheimers-Dementia-Images/dementia-alzheimersHeader.webp");
    background-position-y: -6rem;
}
 
.alzpic1{
    width: 50%;
}

.alzpic2{
    width: 90%;
}

.alzpic3{
    width: 60%;
}

.alzpic4{
    width: 65%;
}

.alzpic5{
    width: 70%;
}

/*ALS*/

.alsjumbo{
    background-image: url("../ALS-Images/ALSHeader.jpg");
    background-position-y: 5rem;
}

.alspic1{
    width: 70%;
}

.alspic2{
    width: 60%;
}

/*Cancer*/

.cancerjumbo{
    background-image: url("../Cancer-Images/cancer-careHeader.webp");
}

.cancerpic1{
    width: 75%;
}

.cancerpic2{
    width: 70%;
}

.cancerpic3{
    width: 70%;
}

.cancerpic4{
    width: 63%;
}

/*Parkinsons*/

.parkinsonsjumbo{
    background-image: url("../parkinsons-Images/parkinsons-careHeader.webp");
}

.parkinsonspic1{
    width: 90%;
}

.parkinsonspic2{
    width: 70%;
}

.parkinsonspic3{
    width: 90%;
}

/*Stroke*/

.strokejumbo{
    background-image: url("../stroke-care/stroke-careHeader.webp");
    background-position-y: 1rem;
}

.strokepic1{
    width: 80%;
}

/*Special Needs*/

.autistjumbo{
    background-image: url("../special-needs-images/special-needsHeader.webp");
}

/*MS Care*/

.msjumbo{
    background-image: url("../ms-care/MS-careHeader.jpg");
    background-position-x: 36%;
}

.ms-carePic1{
    width: 55%;
}

.ms-carePic2{
    width: 65%;
}

/*Hospice Care*/

.hospicejumbo{
    background-image: url("../hospice-care/hospice-careHeader.webp");
    background-position-y: 5rem;
}

.hospicepic1{
    width: 65%;
}

/*Privacy Policy*/

.privacyjumbo{
    background-color:#EC7F76;
    background-image: none;
    height: 32vh;
}

/*COVID19 Response*/

.covidsub{
    background-size: 10%;
}

/*Timesheet*/

.timejumbo{
    background-color:#EC7F76;
    background-image: none;
    height: 28vh;
}

.pdf{
    margin: 3rem 0;
}

/*Testimonials*/

.testijumbo{
    background-image: url("../Resources/Stock Photos/TestimonialsHeader.jpg");
    height: 55vh;
    background-position-y: -4rem;
}

.reviews h2{
    font-size: 3rem;
}

.quotegrid{
    width: 75%;
    margin: 5rem auto;
    display: grid;
    column-gap: 3rem;
    row-gap: 3rem;
}       

.topgrid{
    grid-template:
    'quote1 quote2'
    'quote3 quote4'
    'quote5 quote6'
}

.bottomgrid{
    grid-template:
    'quote7 quote8'
    'quote9 quote10'
    'quote11 quote12'
}

.gridquote{
    border: #F15B4E 1px solid;
    border-radius: 50px;
    filter:drop-shadow(0px 5px 5px #2a2a2a13);
    text-align: center;
    padding: 2rem;
    align-self: start;
}


@media only screen and (max-width: 1024px) {

    .topgrid{
        grid-template:
        'quote1'
        'quote2'
        'quote3' 
        'quote4'
        'quote5' 
        'quote6'
    }
    
    .bottomgrid{
        grid-template:
        'quote7' 
        'quote8'
        'quote9' 
        'quote10'
        'quote11' 
        'quote12'
    }

}

@media only screen and (min-width: 481px) and (max-width: 1024px){

    h1{
        font-size: 2.6rem;
    }

    .jumbotron{
        height: 42vh;
    }

    .contentsect{
        width: 75%;
    }

    .subhead{
        width: 75%;
    }

    .contentsect{
        width: 75%;
    }

    footer li{
        font-size: 1rem;
    }

    .jumbotron a{
        font-size: 1rem;
    }

    h1 {
        margin: 2rem auto;
    }

    .testijumbo{
        background-position-y: 2rem;
    }

    .alzjumbo{
        background-position-y: 1rem;
    }

    .alsjumbo{
        background-position-y: 3rem;
    }

    .privacyjumbo{
        margin: 0;
        justify-content: center;
        height: 28vh;
    }

    .subhead{
        margin: 4rem auto 3rem auto;
    }

}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait){

    .jumbotron{
        height: 28vh;
    }

    .privacyjumbo{
        margin: 0;
        justify-content: center;
        height: 15vh;
    }



}

@media only screen and (max-width: 481px) {
    h1{
        font-size: 2.5rem;
    }

   body p{
        font-size: 1rem;
        text-align: center;
    }

    .footerli{
        font-size: 1.15rem;
        padding: 0;
    }

    .footeraddress p{
        text-align: left;
    }

    .dot{
        padding: 0;
    }

    body li{
        font-size: 1rem;
        padding: .2rem 0;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        text-align: center;
    }

    .subhead h2 {
        font-size: 1.1rem;
    }

    .contentsect img{
        width: 100%;
        margin: 3rem 0 0 0;
    }

    .quotegrid{
        width: 92%;
    }

    .subhead{
        width: 78%;
        margin: 9rem auto 6rem;
        padding: 2rem 1.5rem;
        background-size: 40%;
    }

    .contentsect{
        width: 75%;
    }

    .review-carousel p {
        font-size: 1rem;
    }

    .review-carousel h3 {
        font-size: 1.3rem;
    }

    .carouselsect h4 {
        font-size: 1.4rem;
    }

    .hospicejumbo{
        background-position-x: -45rem;
        background-position-y: 0;
    }

    .cancerjumbo {
        background-position-x: -32rem;
    }

    .alsjumbo{
        background-position-x: -14rem;
        background-po