h1{
    padding: 0;
    margin: 0;
}

.jumbotron{
    flex-direction: column;
    height: 58vh;
    background-image: url('../Resources/Contact_Us_Stock_Photos/ContactUsJumobtronIMG.png');
    display: flex;
    justify-content: space-evenly;
}

.jumbotron h2{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: black;
}

.jumbobuttons{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.jumbobutton{
    width: 30%;
}

.accolades{
    text-align: center;
    width: 55%;
}

.accolades p{
    width: 82%;
}

.accolades h2{
    font-size: 1.8rem;
    padding-bottom: .5rem;
    color: #ec8076;
}

.contactusbox{
    display: flex;
    width: 77%;
    margin: 6rem auto;
    padding: 2rem;
    background-color: #f5d9d5;
    border-radius: 10px;
    align-items: center;
    filter: drop-shadow(0px 5px 5px #2a2a2a1a);
    position: relative;
}

.callbox{
    background-color: #f5d9d5;
    right: 2rem;
}

.emailbox{
    background-color: #e2e2e2;
    left: 2rem;
}

.contactustextbox{
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    position: relative;
    z-index: 10;
    padding: 2rem 0;
}

.calltextbox{
    left: 1rem;
}

.emailtextbox{
    right: 1rem;
    padding-bottom: 0;
}

.textboxheader{
    font-size: 1.5rem;
}

.boximg{
    width: 52%;
    position: relative;
    border-radius: 10px;
}

.callimg{
    right: 1rem;
}

.emailimg{
    left: 1rem;
}

.middletext{
    padding: 1rem 0;
}

.textboxbutton{
    width: 25%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.liltime{
    font-size: .9rem;
}

.HCAtext{
    font-size: .8rem;
    position: relative;
    padding: .2rem 0;
}

.HCAtext a{
    text-decoration: underline;
    color: black;
}

.bigform{
    border: 2px solid #F4D9D5;
    background-color: #FBFBFB;
    margin: 0 auto 10rem auto;
    padding: 3rem 0 8rem 0;
    border-radius: 50px;
    filter: drop-shadow(0px 5px 5px #2a2a2a1a);
    width: 55%;
    background-image: url('../Resources/Logotransparent.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    flex-direction: column;
}

.bigform h2{
    text-align: center;
}

.formrow{
    display: flex;
    padding: 2rem 0;
    margin: auto;
    justify-content: space-evenly;
}

.contactpreference{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0
}

.cptext{
    font-size: 1.3rem;
}

.inputl{
    padding-right: 5rem;
}

.formheader{
    width: 55.2%;
    margin: 10rem auto 0 auto;
    padding: 3rem 0;
    text-align: center;
    background-color: #f7a39bcd;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    filter: drop-shadow(0px 5px 5px #2a2a2a1a);
}

.formheader h2{
    font-size: 2.3rem;
    color: white;
}

label{
    font-size: 1.1rem;
}

.label2{
    font-size: 1.1rem;
}

.textboxbutton h2{
    color: black;
}

.submit{
    margin: 2rem auto 2rem auto;
    width: 15%;
    border: none;
    padding: .75rem 0;
    border-radius: 10px;
    background-color: #f7a39b;
    justify-content: center;
    font-size: 1.1rem;
    font-family: var(--body-font);
}

.name{
    padding-left: 3rem;
}

@media only screen and (max-width: 481px) and (max-width: 1024px) {

    .jumbobuttons{
        width: 60%;
    }

    .navbutton h2 {
        font-size: 1rem;
    }

    .accolades{
        margin: 4rem auto 4rem;
    }

    .formheader{
        width: 80.5%;
    }

    .bigform{
        width: 80%;
    }

}

@media only screen and (max-width: 1024px) {

    p{
        font-size: 1rem;
    }

    h1{
        font-size: 3rem;
    }

    .callbox{
        flex-direction: column-reverse;
    }

    .contactusbox{
        width: 80%;
        position: static; 

    }

    .contactustextbox{
        width: 106%;
        position: static;
    }

    .textboxbutton{
        width: 30%;
    }

    .textboxheader{
        font-size: 1.2rem;
    }

    .jumbobuttons{
        width: 80%;
    }

    .jumbotron h2{
        padding: .2rem 0;
    }

    .accolades{
        width: 85%;
        margin: 10.5rem auto 6rem;
    }

    .accolades h2{
        font-size: 1.4rem
    }

    .navbutton h2{
        font-size: .9rem;
    }

    .boximg {
        width: 85%;
        position: relative;
        border-radius: 10px;
        margin-bottom: 2rem;
    }

    .callimg{
        position: static;
    }

    .middletext{
        padding: .3rem
    }

    .bigform{
        width: 95%;
    }

    .jumbobutton{
        width: 39%;
        padding: .2rem 0;
    }

    .emailbox{
        flex-direction: column;
    }

    .emailtextbox{
        position: static;
    }

    .foromrow{
        flex-direction: column;
    }

    .formheader{
        width: 96%;
    }

    .name{
        padding: 0;
    }

    .inputl{
        padding-right: 0;
    }

    .formheader h2{
        font-size: 1.6rem;
    }

    .formheader{
        padding: 2rem 0;
    }

    .bigform{
        background-size: 115%;
        padding: 3rem 0 5rem 0;
    }

    .formrow{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .finput{
        padding-bottom: 3rem;
    }

    .contactpreference{
        padding: 0 0 3rem;
    }

    .topcheckbox{
        padding-bottom: 3rem;
        text-align: center;
    }

    .mobileimg{
        width: 30%;
    }

    .submit{
        width: 35%;
        margin: 1rem auto 1rem auto;
    }

    .boximg{
        display: none;
    }

}